name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  docker-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -f Dockerfile.dev -t myusername/schedulo:latest .

      - name: Push Docker image
        run: docker push myusername/schedulo:latest

      - name: Deploy on Server
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull myusername/schedulo:latest
            docker compose -f /path/to/docker-compose.yml up -d
